.icon {
    font-size: 30px;
    color: white;
    margin: 5px;
}

.navegar {
    background-color: #F2B544;
}

.footer_cor {
    background-color: #9AA97F;
}

.card_cadastro {
    background-color: rgb(154, 169, 127);
    margin: 10px;
    justify-content: center;
    flex-direction: row;
}
